$primary: #0090c3;

h2 {
  text-transform: uppercase;
}

.volya-about-us-container,
.partner-container,
.news-container {
  margin-top: 50px;
}

.partner-container,
.events-container,
.news-container {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}

ul {
  padding: 0px;
  margin-top: 50px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;

  li {
    display: flex;
    flex-flow: column;
  }
}

h1 {
  text-transform: uppercase;
  text-align: center;
}

.banner-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
  margin-bottom: 130px;

  .banner-CTA {
    margin-top: 45px;

    button:first-child {
      margin-right: 32px;
      // background-color: #0090c3;
      &:hover {
        // background-color: #5caac6;
      }
    }

    button:nth-child(2) {
      margin-top: 0;
      color: black;
      background-color: rgba(255, 255, 255, 0.2);

      &:hover {
        background-color: rgba(255, 255, 255, 0.4);
      }

      @media (min-width: 1200px) {
        & {
          margin-top: 10px;
        }
      }
    }
  }

  .banner-help {
    position: absolute;
    top: 150px;
    right: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;

    @media (min-width: 1200px) {
      & {
        top: 200px;
      }
    }
  }
}

.goal-photos-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  > div {
    width: 315px;
    height: 263px;
  }

  .photo-collect,
  .photo-inclusion,
  .photo-sensibilisation {
    background-size: 95%;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;

    div {
      text-transform: uppercase;
      background: white;
      width: 90%;
      padding: 3px 5px;
      text-align: center;
      border-radius: 3px;
      margin-bottom: 20px;
      margin-right: 15px;

      @media (min-width: 992px) {
        & {
          font-size: 12px;
        }
      }
    }
  }

  .photo-collect {
    background-image: url('~/public/our-goals/collecte-laide-humanitaire.png');
  }
  .photo-inclusion {
    background-image: url('~/public/our-goals/inclusion-apporte-laide-deplaces.png');
  }
  .photo-sensibilisation {
    background-image: url('~/public/our-goals/sensibilisation-communication.png');
  }
}

.volya-about-us-container {
  position: relative;
  margin-top: 80px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;

  img {
    position: absolute;
    width: 300px;
    top: 20px;
    left: 0px;
    z-index: -1;
  }

  .dummy {
    width: 100px;
  }

  @media (min-width: 992px) {
    .dummy {
      width: 500px;
    }
  }

  .main {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.7);
  }

  h2,
  .info-btn {
    margin-top: 10px;
  }

  .info-btn {
    text-transform: uppercase;
  }
}

.partner-container {
  // display: flex;
  // flex-flow: column;
  // justify-content: flex-start;
  // align-items: center;

  li {
    align-items: center;
    width: 150px;

    img {
      width: 70px;
      margin-bottom: 5px;
    }

    p {
      text-align: center;
      font-size: 14px;
    }

    @media (min-width: 992px) {
      img {
        width: 150px;
      }
      p {
        font-size: inherit;
      }
    }
  }

  .CTA-btn {
    text-transform: uppercase;
    padding: 12px;
    color: black;
    border: none;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.22);
  }
}

.events-container {
  margin-top: 100px;

  h1.title {
    text-align-last: center;
    text-transform: uppercase;
    text-align: justify;
    font-size: 350%;

    @media (min-width: 576px) {
      margin-top: 50px;
      & {
        font-size: 500%;
      }
    }

    @media (min-width: 768px) {
      margin-top: 60px;
      & {
        font-size: 690%;
      }
    }

    @media (min-width: 992px) {
      margin-top: 80px;
      & {
        font-size: 930%;
      }
    }

    @media (min-width: 1200px) {
      margin-top: 100px;
      & {
        font-size: 1110%;
      }
    }
  }

  ul {
    flex-flow: row;
    flex-direction: column;
    align-items: center;

    li {
      justify-content: center;
      align-items: center;
      margin-bottom: 25px;
      margin-right: 12px;

      &:last-child {
        margin-right: 0;
      }

      img {
        width: auto;
        border-radius: 5px;
      }

      .info {
        width: 100%;
        margin-top: 8px;
        padding: 8px 15px 5px 15px;
        border-left: 1px solid black;

        .title {
          font-size: 1em;
          margin-top: 10px;
        }
        .date {
          margin-top: 12px;
          span {
            margin-left: 8px;
          }
        }
        .address {
          margin-top: 7px;
          span {
            margin-left: 8px;
          }
        }
      }

      button {
        margin-top: 15px;
        width: fit-content;
        color: black;
        background-color: white;
        border: none !important;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.22);
      }
    }

    @media (min-width: 576px) {
      & {
        flex-direction: column;
        align-items: center;

        img {
          width: 300px !important;
        }
      }
    }

    @media (min-width: 768px) {
      & {
        flex-direction: row;
        flex-wrap: wrap;
        flex-basis: 50%;
        justify-content: space-between;

        img {
          width: 330px !important;
        }
      }
    }

    @media (min-width: 992px) {
      & {
        flex-direction: row;
        flex-wrap: nowrap;

        img {
          width: 225px !important;
        }
      }
    }

    @media (min-width: 1200px) {
      & {
        flex-direction: row;
        flex-wrap: nowrap;

        img {
          width: 270px !important;
        }
      }
    }
  }
  .all-events-btn {
    align-self: flex-end;
  }
}

.news-container {
  li {
    margin-right: 12px;

    &:last-child() {
      margin-right: 0;
    }

    .card-text {
      margin-top: 16px;
    }
  }

  button {
    margin-top: 20px;
  }
}

.volya-join-us-container {
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  color: white;

  img {
    position: absolute;
    width: 25%;
    z-index: -1;

    &:first-child {
      top: 33%;
      left: 9%;
    }
    &:nth-child(2) {
      top: -11%;
      left: 44%;
    }
    &.join-us {
      top: 16%;
      left: 49%;
      width: 40%;
    }
  }

  .main {
    padding: 15px;
    border-radius: 5px;
    background-color: $primary;
    margin-top: 120px;
    margin-left: 20%;
    margin-right: 40%;
    display: flex;
    flex-flow: column;
    align-items: center;

    h2,
    .info-btn {
      margin-top: 10px;
    }

    .CTA {
      text-transform: uppercase;
      color: white !important;
      border-color: white !important;
      width: max-content;
    }
  }
}
