@import 'App.scss';

.collecte-aide {
  display: flex;
  flex-flow: column;

  h1 {
    font-size: 74px;
    align-self: flex-start;
    margin-bottom: 24px;
  }
  .chiffres {
    display: flex;
    flex-flow: row nowrap;
  }
}
